.vv {
  color: rgba(80, 25, 75, 1);
  margin-left: auto;
  font-family: fantasy;
  background: rgba(25, 25, 185, 0.1);
  height: 20%;
  position: absolute;
  width: 100%;
  display: block;
}
.vvsub {
  color: rgba(80, 25, 75, 1);
  font-family: fantasy;
  font-size: 200%;
  margin-top: 2.5%;
  margin-left: 5%;
  text-decoration: none; 
  position: relative;
  background: rgba(205, 25, 25, 0.6);
  border-radius: 25px;
  width: 20%;
  text-align: center;
  display: inline-block;
}
